.experience{
  background-color: white;
}

body{
  color: #333333;
}

.add{
  background-color:white;
  height: 100vh;
}

.add h3{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.inputForm{
  max-width: 800px;
}

.navbar{
    position: fixed;
    width: 100vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    z-index: 100;
}

.navbarInfo{
  position: relative;
  background-color: black!important;
  box-shadow: none;
}

.jumbo{
  background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/GettyImages-165230118-web1_59300.jpg");
  height: 500px; 
  background-position: top; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color: white;
}

.cardImg:hover{
  cursor: pointer;
}

p .cardText{ 
  margin: 0;
}

.card{
  border: none;
  margin: auto;
}

div .card-body{
  padding: 8px;
}

.imgBox { 
  border-radius: calc(1rem - 1px);
  display: inline-block; 
  overflow: hidden; 
}
.imgBox img {
  display: block; 
  transition: .4s ease-in-out;
}
.imgBox:hover img {
  transform: scale(1.1);
}

.card-img-top{
  border-radius: calc(1rem - 1px);
}

.infoPage{
  padding: 20px;
  padding-top: 40px;
}

.infoTable{
  text-align: center;
}

.priceFilter td{
  text-align: center;
}

.priceFilter input{
  border-radius: 10px;
  border: solid #eeeeee 2px;
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.priceFilter h3 {
  margin: 10px;
}

.DefaultProgressBar_progressBar{
  background-color: rgb(255, 137, 141)!important;
}
.DefaultProgressBar_background__horizontal{
  height: 5px!important;
  top: 3px!important;
}

.DefaultBackground{
  border: none!important;
}

.handleContainer{
  background-color:#fafafa;
  border-radius: 8px;
  border: #f1f1f1 solid 1px;
  padding: 2px;
}

.DefaultHandle_handle__horizontal{
  top: -7px!important;
}

.DefaultHandle_handle{
  border-radius: 50%!important;
}

.transition{
  transition-duration: .3s;
}

.addExp{
  padding-bottom: 50px;
}

.whatToBring{
  padding-bottom: 50px;
}